.simPop {
  position: fixed;
  background: #ffffff;
  z-index: 999999;
  border: 1px solid #AAA;
  box-shadow: 0 0 5px #888;
}
.simPop .header {
  width: 100%;
  position: absolute;
  cursor: move;
  height: 35px;
  line-height: 35px;
  background: linear-gradient(to bottom, #3276b1, #357ebd);
  color: #FFF;
  padding: 0 20px;
  z-index: 9999999999;
}
.simPop .close-button {
  margin-right: -20px;
  float: right;
  width: 50px;
  text-align: center;
  cursor: pointer;
}
.simPop .body {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 35px;
}
.simPop .content-wrap {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.simPop .content {
  padding: 10px 20px 20px 20px;
}
